@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-left: 250px;
    margin-right: 250px;

    font-family: "Open Sans", "Segoe UI";
    font-size: small;
}

header, footer {
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#content, #navigation, #footer-links {
    border: 3px solid rgba(135, 206, 235, 0.6);
    background-color: rgba(127, 238, 238, 0.6);
}

#content, #navigation {
    border-radius: 10px;
    backdrop-filter: blur(2px);

    padding: 10px;
}

footer {
    margin-top: 10px;
}

#footer-links {
    display: flex;
    flex-direction: row;
    gap: 10px;

    border-radius: 10px;

    padding: 5px;
}

body {
    background-image: url("https://i.redd.it/jcaq7gsamypc1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    width: 631px;
}

.code, .inline-code {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(255, 213, 0, .5);
    backdrop-filter: blur(2px);
}

.code {
    padding-left: 15px;
    padding-right: 15px;
}