<pre class="code"><code>
/*
    querySelector() finds the first instance of the stated css selector 
    in the html element it's being called on

    querySelectorAll() finds all instances of the stated css selector 
    in the html element it's being called on
*/
element.querySelector(selector)
element.querySelectorAll(selectors)

/*
    createElement() creates the stated html tag element
*/
document.createElement(tagName)

/*
    appendChild() appends a child into a parent node
*/
parentNode.appendChild(childNode)

/*
    setAttribute() sets the attribute of the element into the given value
*/
element.setAttribute(attribute, value)

/*
    ----Not used, but is nice to know----
    removeChild() removes the child from a parent and returns said child,
    while remove() just straights up deletes it from the DOM
*/
parentNode.removeChild(child)
element.remove()
</code></pre>