<pre class="code"><code>
&lt!DOCTYPE html&gt
&lthtml lang="en"&gt
    &lthead&gt
        &ltmeta charset="UTF-8"&gt
        &ltmeta name="viewport"&gt
        &lttitle&gtDocument&lt/title&gt
    &lt/head&gt

    &ltbody&gt
        &ltheader&gtTitle&lt/header&gt

        &ltdiv id="content"&gt
            &lth2&gtThe word is the bird&lt/h2&gt
            &ltp&gt
                Did you know the word? The word
                that is the bird?
            &lt/p&gt
        &lt/div&gt

        &ltfooter&gt
            &lta href="https://pieisspy.neocities.org/" target="_blank" 
            rel="noopener noreferrer"&gtCool Website!&lt/a&gt
        &lt/footer&gt
    &lt/body&gt
&lt/html&gt
</code></pre>