@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-left: 250px;
    margin-right: 250px;

    font-family: "Open Sans", "Segoe UI";
    font-size: small;

    background-image: url("https://cdna.artstation.com/p/assets/images/images/047/160/908/original/pxsprite-space.gif?1646911392");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p, h1, h2, h3, li{
    color: white;
}

a:link {
    text-decoration: underline;
    color: wheat;
}

a:visited {
    text-decoration: underline;
    color: burlywood;
}

header, footer {
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

section, #navigation, #footer-links {
    border-radius: 10px;
    backdrop-filter: blur(2px);

    border: 3px solid rgba(59, 0, 117, 0.6);
    background-color: rgba(86, 0, 172, 0.6);

    padding: 10px;
}

section {
    margin-bottom: 5px;
}

footer {
    margin-top: 10px;
}

#footer-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#content {
    width: 631px;
}

#navigation {
    width: 130px;
}

.code, .inline-code {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(255, 213, 0, .5);
    backdrop-filter: blur(2px);
}

.code {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.img-content {
    max-width: 100%;
}