@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-left: 250px;
    margin-right: 250px;

    font-family: "VT323", "Segoe UI";
    font-size: small;

    background-image: url("https://cdna.artstation.com/p/assets/images/images/047/160/908/original/pxsprite-space.gif?1646911392");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-size: 17px;
}

p, h1, h2, h3, li{
    color: white;
}

a:link {
    text-decoration: underline;
    color: wheat;
}

a:visited {
    text-decoration: underline;
    color: burlywood;
}

header, footer {
    display: flex;
    flex-direction: row;

    text-align: center;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

section, #navigation, #footer-links {
    border-radius: 10px;
    backdrop-filter: blur(2px);
    
    background-color: rgba(86, 0, 172, 0.5);

    clip-path: polygon(
        0px calc(100% - 28px),
        4px calc(100% - 28px),
        4px calc(100% - 20px),
        8px calc(100% - 20px),
        8px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 8px),
        20px calc(100% - 8px),
        20px calc(100% - 4px),
        28px calc(100% - 4px),
        28px 100%,
        calc(100% - 28px) 100%,
        calc(100% - 28px) calc(100% - 4px),
        calc(100% - 20px) calc(100% - 4px),
        calc(100% - 20px) calc(100% - 8px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 8px) calc(100% - 20px),
        calc(100% - 4px) calc(100% - 20px),
        calc(100% - 4px) calc(100% - 28px),
        100% calc(100% - 28px),
        100% 28px,
        calc(100% - 4px) 28px,
        calc(100% - 4px) 20px,
        calc(100% - 8px) 20px,
        calc(100% - 8px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 8px,
        calc(100% - 20px) 8px,
        calc(100% - 20px) 4px,
        calc(100% - 28px) 4px,
        calc(100% - 28px) 0px,
        28px 0px,
        28px 4px,
        20px 4px,
        20px 8px,
        12px 8px,
        12px 12px,
        8px 12px,
        8px 20px,
        4px 20px,
        4px 28px,
        0px 28px
    );

    padding: 10px;
}

.inner {
    background-color: rgba(37, 0, 74, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    clip-path: polygon(
        0px calc(100% - 28px),
        4px calc(100% - 28px),
        4px calc(100% - 20px),
        8px calc(100% - 20px),
        8px calc(100% - 12px),
        12px calc(100% - 12px),
        12px calc(100% - 8px),
        20px calc(100% - 8px),
        20px calc(100% - 4px),
        28px calc(100% - 4px),
        28px 100%,
        calc(100% - 28px) 100%,
        calc(100% - 28px) calc(100% - 4px),
        calc(100% - 20px) calc(100% - 4px),
        calc(100% - 20px) calc(100% - 8px),
        calc(100% - 12px) calc(100% - 8px),
        calc(100% - 12px) calc(100% - 12px),
        calc(100% - 8px) calc(100% - 12px),
        calc(100% - 8px) calc(100% - 20px),
        calc(100% - 4px) calc(100% - 20px),
        calc(100% - 4px) calc(100% - 28px),
        100% calc(100% - 28px),
        100% 28px,
        calc(100% - 4px) 28px,
        calc(100% - 4px) 20px,
        calc(100% - 8px) 20px,
        calc(100% - 8px) 12px,
        calc(100% - 12px) 12px,
        calc(100% - 12px) 8px,
        calc(100% - 20px) 8px,
        calc(100% - 20px) 4px,
        calc(100% - 28px) 4px,
        calc(100% - 28px) 0px,
        28px 0px,
        28px 4px,
        20px 4px,
        20px 8px,
        12px 8px,
        12px 12px,
        8px 12px,
        8px 20px,
        4px 20px,
        4px 28px,
        0px 28px
    );
}

#footer-links .inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

section {
    margin-bottom: 5px;
}

footer {
    margin-top: 10px;
}

#footer-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#content {
    width: 80%;
}

#navigation {
    width: 20%;
}

.links {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1000px) {
    body {
        margin-left: 5px;
        margin-right: 5px;
    }

    #main {
        flex-direction: column;
    }

    #content {
        width: 100%
    }

    #navigation {
        width: 97%;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #navigation h2 {
        display: none;
    }
}

.code, .inline-code {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    color: white;
}

.code {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;

    font-size: 10px;
}

.img-content {
    max-width: 100%;
}

.team {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}